  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/mattboldt/typed.js/master/js/typed.js"></script>
  <script>
    $(".noscript").hide();
    $els = $(".mail, .links, .signature");
    $els.hide();

    $(".bio").typed({
      strings: ["{{ site.author.bio.line1 }}<br>{{ site.author.bio.line2 }}^1000 :)"],
      typeSpeed: 0,
      startDelay: 1000,
      callback: function() {
        $(".typed-cursor").remove();
        $els.show().addClass("animated fadeIn");
      }
    });
  </script>
